.App {
  text-align: center;
}

html, body, #root, #App {
	min-height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bold {
  font-weight: bold;
}

.gradient {
  background: rgb(41,43,44);
  background: linear-gradient(180deg, rgba(41,43,44,1) 47%, rgba(61,61,61,0.9626444327731093) 100%);
}